<div class="center">
  <% if logged_in? %>
    <%= simple_form_for @post, remote: true do |f| %>
      <div class="row">
        <div class="col s12 m11">
          <%= f.input_field :content, class: "materialize-textarea text optional", placeholder: "Tell me about your day"%>
        </div>
        <div class="col s12 m1">
          <%= f.button :submit, "post" %>
        </div>
      </div>
    <% end %>
  <% else %>
  <h2>Welcome</h2>
    <%= link_to "Log In", log_in_path, class: "btn" %>
    <%= link_to "Sign up", sign_up_path, class: "btn" %>
  <% end %>
</div>
<div id="list-article">
  <%= render @posts %>
</div>