<%= simple_form_for @post do |f| %>
  <%= f.input :content %>
  
  <div class="images">
    <%= f.simple_fields_for :images do |image| %>
      <%= render 'image_fields', f: image  %>
    <% end %>
    <div class="links">
       <%= link_to_add_association "Add image", f, :images, class: "btn blue" %>
    </div>
  </div>
  <%= f.button :submit, "post" %>
<% end %>
