<div id="post-modal" class="modal">
  <div class="modal-content">
    <h4>Edit post</h4>

    <%= simple_form_for @post do |f| %>
      <%= f.input :content %>
      
      <div class="images">
        <%= f.simple_fields_for :images do |image| %>
          <%= render 'image_fields', f: image  %>
        <% end %>
        <div class="links">
           <%= link_to_add_association "Add image", f, :images, class: "btn blue" %>
        </div>
      </div>
      <%= f.button :submit, "post" %>
    <% end %>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>