<div class="post">
  <div class="card">
    <%= render 'shared/user_create', record: post %>
    <div class="card-content">
        <%= render 'shared/owner_link', record: post %>
        <%= simple_format post.content, class: 'post-content' %>
        <%= link_to pluralize(post.count_comments, "comment"), post, class: "chip"%>
    </div>
    <div class="card-action">
      <%= link_to "See more", post %>
    </div>
  </div>
</div>