<div id="show-post">
  <div class="card">
    <%= render 'shared/user_create', record: @post %>
    <div class="card-content">
        <%= render 'shared/owner_link', record: @post %>
        <%= simple_format @post.content, class: 'post-content' %>
    </div>
    <div class="card-action">
      <p class="chip"><%= pluralize @post.count_comments, 'comment' %></p>
    </div>
    <hr>
    <div id="comment-form">
      <div class="container">
        <h5>Create a comment</h5>
        <%= render "comments/form" %>
      </div>
    </div>
  </div>
</div>

<h5>Comments</h5>
<div id="comment-list">
  <% if @post.comments.present? %>
      <%= render @post.comments %>
  <% else %>
    <p>No comments yet</p>
  <% end %>
</div>
